{% extends 'learning_logs/base.html' %}

{% block page_header %}
  <h1>{{ topic.text }}</h1>
{% endblock page_header %}

{% block content %}

  <p>
    <a href="{% url 'learning_logs:topic' topic.id %}">Back to Topic</a>
  </p>

    <div class="card mb-3">
      <!-- Card header with timestamp and edit link -->
      <h4 class="card-header">
        <small>Edit entry:</small>
      </h4>
      <!-- Card body with entry text -->
      <div class="card-body">
        
        <form action="{% url 'learning_logs:edit_entry' entry.id %}" method='post'>
          {% csrf_token %}
          {{ form.as_div }}
          <button name="submit">Save changes</button>
        </form>

      </div>
    </div>

{% endblock content %}